
@{
    ViewBag.Title = "Index";
}
@*<h3 class="text-center">System will automatic read data every 6 minutes</h3>
<div class="home-page position-relative">
    <div class="loading display-none" aria-hidden="true"></div>
    <h2 class="text-center message"></h2>
</div>*@
<div id="status"></div>
